@media(max-width: 840px) {
    footer p {
        font-size: 14px;
    }
    .principal {
        padding-inline: 25px;
    }
}

@media(max-width: 600px) {
    .topico img {
        width: 80vw;
    }
}

@media(max-width: 500px) {
    header {
        flex-direction: column;
        padding: 20px;
        height: 170px;
        gap: 10px;
    }

    .principal {
        padding-inline: 30px
    }

    .principal h1 {
        font-size: 50px;
    }

    .item {
        font-size: 20px;
    }

    .topico h2 {
        font-size: 35px;
    }
    
    .topico p {
        font-size: 25px;
    }

    .logo img {
        width: 60px;
    }
}

@media(max-width: 300px) {

    .principal {
        padding-inline: 15px
    }

    .principal h1 {
        font-size: 40px;
    }

    .topico h2 {
        font-size: 30px;
    }

    .topico p {
        font-size: 20px;
    }

    .itens {
        margin-top: 10px;
    }

    .item {
        font-size: 15px;
    }
}